textarea{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input[type="number"].ipt{
	padding: 0 10px;
	text-align: center;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.bx_loading { 
	position: fixed;
	width: 100%;
	top: 50%;
	left: 0;
	text-align: center;
	margin-top: -61px;
	p {
		margin-top: 10px;
	}
}
.page_loading{
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	margin:-30px 0px 0px -30px;
	z-index: 10;
}

.ipt, .slct {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	box-sizing: border-box;
	&:focus{
		outline:none;
		border-color:$black;
	}
	&:disabled {
		background-color: #eaeaea;
		color:#c4c4c4;
		&[value] {
			color:#c4c4c4;
		}
	}
}
select::-ms-expand {
	display: none;
}