.guide {
  width: 1200px;
  margin: 0 auto;
  padding: 60px 50px 100px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 2.5;
  color: #444444;
  position: relative;
  .logo {
    background: url("/img/logo.png") no-repeat;
    background-size: 100%;
    width: 200px;
    height: 110px;
    margin: 0 auto 50px;
    line-height: 1;
    overflow: hidden;
    text-indent: -2000px;
  }
  h1 {
    font-size: 36px;
    margin: 0px 0 30px;
    font-weight: bold;
  }
  h2 {
    font-size: 32px;
    line-height: 1;
    margin-bottom: 30px;
  }
  h3 {
    margin: 50px 0 30px;
    font-size: 24px;
    line-height: 1;
  }
  strong {
    font-weight: bold;
  }
  .red {
    color: #e53434;
  }
  .blue {
    color: #2a84b0;
  }
  .gom {
    color: #ff7600;
  }
  .point {
    color: #957963;
  }
  .cont {
    padding: 100px 0;
    a {
      color: #2a84b0;
      text-decoration: underline;
    }
    & + .cont {
      border-top: 1px solid #e1e1e1;
    }
  }
  .desc {
    font-size: 14px;
    line-height: 1.7;
    color: #888;
    margin: 0 0 5px 11px;
  }
  .code {
    line-height: 2;
  }
  pre {
    font-size: 14px;
    line-height: 1.7;
    padding: 30px 50px;
    background: #fafafa;
  }
  nav {
    margin: 100px 0 -50px;
    line-height: 50px;
    text-align: right;
    li {
      display: inline-block;
      line-height: 1;
      &:before {
        display: inline-block;
        margin: 0 10px 0 5px;
        content: "|";
      }
      &:first-child:before {
        display: none;
      }
    }
    &.fix{
      position: fixed;
      top:0;
      left:0;
      width: 100%;
      margin-top: 0;
      background: #404143;
      opacity: 0.95;
      ul{
        width: 1100px;
        margin: 0 auto;
      }
      a{
        color: #fff;
      }
    }
  }
  .tbl {
    th {
      background: #efefef;
      border-top: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
    }
    td {
      padding: 10px 20px;
      border-bottom: 1px solid #e0e0e0;
    }
  }
  .quick {
    position: fixed;
    bottom: 30px;
    right: 50px;
    width: 60px;
    a {
      width: 100%;
      display: block;
      padding: 10px 0;
      text-align: center;
      line-height: 1;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      border-bottom: 1px solid #fff;
      font-size: 12px;
    }
  }
}