//quick
.quick{
	a{
		position: absolute;
		left: -9999%;
		top: 0;
		padding: 0;
		width: 100%;
		z-index: 100;
		text-align: center;
		background-color: $black; /*메인 색상*/
		color: #f90;
		&:focus{
			left: 0;
		}
	}
}
//popup
.popup{
  position: fixed;
	left: 50%;
	bottom: 0;
	margin-left: -600px;
	width: 1200px;
	transition: transform 0.4s;
	transform: translateY(100%);
	z-index: 1000;
  border: 1px solid #bbb;
	&.active{
		transform: translateY(0);
	}
	.text{
		position: relative;
		form{
			position: absolute;
			top: 0;
			left: 20px;
		}
		input[type=checkbox]{
			margin-right: 6px;
			vertical-align: middle;
		}
		span{
			display: inline-block;
			line-height: 20px;
			vertical-align: middle;
			font-size: 14px;
		}
	}
	.top{
		position: absolute;
		top: 0;
		right: 10px;
		a{
			display: block;
			width: 50px;
			padding: 0 5px;
			border-radius: 5px;
			line-height: 20px;
			font-size: 14px;
			text-align: center;
			color:#000;
			transition: background-color 0.3s;
			&:hover{
				background-color: #ffd237;
			}
		}
	}
	img{
		width: 100%;
	}
}

//header
header {
	position: relative;
	width: 100%;
	height: 109px;
	.upper{
		min-width: 1280px;
		height: 41px;
		background-color: #f1f1f1;   
	}
	.upper_inner{
		position: relative;
		width: 1280px;
		height: 41px;
		left: 50%;
		margin-left: -640px;
	}
	.location {
		position: absolute;
		top: 0;
		right: 0;
		width: 360px;
		li{
			display: inline-block;
			position: relative;
			&:nth-child(4) a::after{
				display: none;
			}
			&:last-child a{
				background: url(../../img/myecc_bg.png) no-repeat center center;
				color: #fff;
				font-size: 0.813em;
				transition: background 0.3s;
				&:hover,&:focus{
					background: url(../../img/myecc_bg1.png) no-repeat center center;
					color: #fff;
				}
				&::after{
					display: none;
				}
			}
		}
		a{
			display: block;
			color: #aaa;
			font-weight: 400;
			font-size: 14px;
			line-height: 41px;
			padding: 0 10px;
			transition: color 0.3s;
			&:hover,&:focus{
					color: #71b42c;
			}
			&::after{
				content: "";
				display: block;
				position: absolute;
				top: 14px;
				right: -3px;
				width: 1px;
				height: 14px;
				background-color: #aaa;
			}
		}
	}
	.menu{
		position: absolute;
		top: 41px;
		left: 0;
		z-index: 11;
		width: 100%;
		min-width: 1200px;
		height: 68px; 
		overflow: hidden;
		background-color: rgba(255,255,255,0.8);
		transition: height 0.4s;
	}
	.menu:hover, .menu.over{
		height: 250px;
		z-index: 11;
	}
	.menu_inner{
		position: relative;
		margin: 0 auto;
		width: 1200px;
		height: 68px;
		line-height: 68px;
	}
	.logo{
		position: absolute;
		left: 0;
		top: 6px;
		z-index: 100;
		width: 165px; 
	}
	#gnb{
		text-align: center;
		margin-left: 60px;
	}
	.dep1 {
		display: inline-block;
		position: relative;
		&:hover > a::after{
			width: 100%;
		}
		> a{
			position: relative;
			display: block;
			color: #555;
			font-weight: 600;
			margin: 0 20px;
			padding: 0 25px;
			height: 68px;
			line-height: 68px;
			&::after{
				content: "";
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 0;
				height: 4px;
				background-color: #ff9e0f;
				transition: width 0.5s;
			}
			&.over::after{
				width: 100%;
			}
		}
	}
	.dep2{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 250px;
		padding: 20px 0;
		a{
			display: block;
			width: 100%;
			z-index: 200;
			color: #616161;
			line-height: 28px;
			font-size: 15px;
			color: #000;
			text-align: center;
			transition: color 0.3s; 
			&:hover, &:focus{
				color: #ff9f0d;
				width: 100%;
			}
		}
	}
	.bi{
		position: absolute;
		top: 20px;
		right: 0;
		z-index: 100;
		width: 80px;
		height: 28px;
		a{
			display: block;
			width: 80px;
			height: 28px;
		}
	}
}

//footer
footer {
	width: 100%;
	min-width: 1280px;
	box-sizing: border-box;
	background-color: #f2f2f2;
	.top{
		width: 100%;
		height: 45px;
		border-bottom: 1px solid #d7d5d5;
		.wrap {
			margin: 0 auto;
			width: 1100px;
			height: 45px;
		}
	}
	.footmenu{
		li{
			float: left;
			line-height: 45px;
			&:first-child a{
				padding-left: 0;
			}
			&:first-child a::after{
				display: none;
			}
		}
		a{
			position: relative;
			display: inline-block;
			padding: 0 13px;
			color: #777;
			&::after{
				content: "";
				display: block;
				position: absolute;
				top: 15px;
				left: 1px;
				width: 1px;
				height: 14px;
				background-color:#d7d5d5;
			}
		}
	}
	.f_right{
		float: right;
		a{
			display: inline-block;
			width: 32px;
			height: 45px;
			padding: 0 13px;
			color: #777;
		}
	}
	.bottom{
		padding: 30px 0;
		box-sizing: border-box;
		.wrap {
			width: 1100px;
			margin: 0 auto;
		}
		.address{
			display: inline-block;
			vertical-align: middle;
			margin-left: 30px;
			line-height: 30px;
			font-size: 14px;
			color: #89878a;
			a {
				color: $black;
				font-weight: $bold;
			}
		}
	}
	.footer_logo{
		display: inline-block;
		width: 165px;
		height: 56px;
		vertical-align: middle;
		img {
			width: 100%;
		}
	}
}
