.main {
	width: 100%;
	min-width: 1280px;
	.container {
		position: relative;
		.wrap_cont {
			position: relative;
			height: 476px;
		}
		.cont {
			position: absolute;
			top: -90px;
			left: 50%;
			transform: translateX(-50%);
			width: 1102px;
			&:after {
				@include clear;
			}
			.box {
				float: left;
				width: 100%;
			}
		}
	}
	.unit {
		float: left;
		width: 275px;
		height: 184px;
		background-color: $gray;
		.btn_tit {
			padding: 10px 20px 0;
			button {
				position: relative;
				display: inline-block;
				font-size: 20px;
				line-height: 20px;
				font-weight: bold;
				letter-spacing: -1px;
				color: #555;
				&.on{
					color: #f38200;
				}
				&:first-child::before {
					display: none;
				}
				&:before{
					content: "";
					display: block;
					position: absolute;
					top: 0;
					left: -7px;
					width: 1px;
					height: 20px;
					background-color: #999;
				}
				&+button {
					margin-left: 14px;
				}
			}
		} 
		.tab {
			display: none;
			width: 100%;
			padding: 10px 20px;
			box-sizing: border-box;
			&.active {
				display: block;
			}
			li {
				border-bottom: 1px solid #bbb;
			}
			a {
				display: block;
				color: #89878a;
				font-size:14px;
				height: 28px;
				line-height: 28px;
				width: 100%;
				@include ellipsis;
			}
		}
		.tit {
			margin-bottom: 10px;
			font-size: 20px;
			font-weight: bold;
			letter-spacing: -1px;
			color: #555; 
			.more{
				position: absolute;
				right: 20px;
				top: 20px;
				font-size: 13px;
				color: #888;
			}
		}
		&.map {
			position: relative;
			padding: 10px 20px;
		}
		&.brochure {
			padding: 0 20px;
			background: url('//sonyoonkyung.github.io/test/dist/img/main_bg1_1.png') no-repeat;
			border: 1px solid $gray;
			.tit{
				margin: 10px 0 0 0;
			}
			.sub_tit{
				font-size: 14px;
				letter-spacing: -1px;
				color: #89878a;
				margin-top: 10px;
			}
		}
		.btn_wrap .btn{
			display: inline-block;
			text-align: center;
			width: 46px;
			height: 26px;
			margin-top: 20px;
			line-height: 26px;
			color: #fff;
			font-size: 0.875em;
			font-weight: 400;
			&.ko{
				background-color: #f38200;
			}
			&.en{
				background-color: #6c5e51;
			}
		}
	}
	.product{
		float: left;
		position: relative;
		width: 184px;
		height: 184px;
		box-sizing: border-box;
		.img.over{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			opacity: 0;
			transition: opacity 0.3s;
		}
		&:hover .img.over{
			opacity: 1;
		}
		&.shop{
			padding: 0 20px;
			background-color: #fff;
			border: 1px solid $gray;
			.tit{
				font-size: 20px;
				line-height: 20px;
				font-weight: bold;
				letter-spacing: -1px;
				color: #555;
				margin-top: 10px;
			}
			.sub_tit{
				font-size: 14px;
				letter-spacing: -1px;
				color: #89878a;
				margin-top: 10px;
			}
		}
		.btn_dot{
			position: absolute;
			left: 50%;
			bottom: 20px;
			transform: translateX(-50%);
			height: 10px;
			text-align: center;
			li{
				float: left;
				margin: 0 2px;
				&.active a{
					background-color: #f90;
				}
			}
			a{
				display: block;
				width: 10px;
				height: 10px;
				background-color: #b2b2b2;
				border-radius: 7px;
				@include blind_txt;
			}
		}
	}
	.event_img{
		position: relative;
		float: left;
		width: 368px;
		height: 184px;
		overflow: hidden;
		.img_moving{
			position: absolute;
			left: 0;
			top: 0;
			width: 1472px;
			height: 184px;
			overflow: hidden;
			li{
				position: relative;
				float: left;
				width: 368px;
				height: 184px;
				overflow: hidden;
			}
			img{
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -184px;
				width: 368px;
			}
		}
	}
	.ad{
		float: left;
		display: block;
		width: 273px;
		height: 184px;
		background-color: #000;
		img {
			width: 100%;
		}
	}
} 

// 메인 슬라이드
.main_slider {
	position: relative;
	width: 100%;
	height: 540px;
	.slide {
		width: 100%;
		height: 540px;
		&:focus {
			outline: 0;
		}
	}
	.controller {
		position: absolute;
		left: 50%;
		bottom: 110px;
		transform: translateX(-50%);
		width: auto;
		li {
			float: left;
			margin: 0 10px;
			&.slick-active button {
				background-color: #f90;
			}
			button {
				display: block;
				width: 16px;
				height: 16px;
				background-color: rgba(255,255,255,.5);
				border-radius: 8px;
				@include blind_txt;
			}
		}
	}
	.btn_arrow {
		position: absolute;
		display: block;
		top: 50%;
		transform: translateY(-50%);
		width: 44px;
		height: 86px;
		z-index: 10;
		@include blind_txt;
		&.prev {
			left: 40px;
			background: url("//sonyoonkyung.github.io/test/dist/img/btn_left.png") 0 0 no-repeat;
		}
		&.next {
			right: 40px;
			background: url("//sonyoonkyung.github.io/test/dist/img/btn_right.png") 0 0 no-repeat;
		}
	}
}

//맨 아래 로고 슬라이드
.wrap_site {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 68px;
	border-top: 1px solid $gray;
	.site_slider {
		width: 1102px;
		padding: 0 135px;
		margin: 0 auto;
		box-sizing: border-box;
		.slide {
			display: inline-block;
			height:68px; 
			line-height:68px;
      text-align:center;
			/* slick 지지직 오류시 넣는거 */
			overflow: hidden;
			-webkit-backface-visibility: hidden;
    	-webkit-transform: translateZ(0) scale(1, 1);
			/* slick 지지직 오류시 넣는거 */
			img {
				display: inline-block;
				max-width:100%; max-height:100%;
        vertical-align:middle;
			}
			&:focus {
				outline: 0;
			}
		}
	}
	.btn_arrow {
		// position: absolute;
		// display: block;
		// width: 9px;
		// height: 16px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 10;
		@include blind_txt;
		&.prev {
			left: -20px;
			@include ico_angle_vrt(left, 32px, 18px, 3px, #b2b2b2, block, absolute);
			//background: url("//sonyoonkyung.github.io/test/dist/img/footer_btn_prev.jpg") 0 0 no-repeat;
			&:hover {
				color: #000;
			}
		}
		&.next {
			right: -20px;
			@include ico_angle_vrt(right, 32px, 18px, 3px, #b2b2b2, block, absolute);
			//background: url("//sonyoonkyung.github.io/test/dist/img/footer_btn_next.jpg") 0 0 no-repeat;
			&:hover {
				color: #000;
			}
		}
		&:hover {
			border-color: $point;
		}
	}
}