/*URL*/
$url: "//img.gomtv.com/images/gom_mini/images/";
$font_url : '/font/';

/*Hashing*/
$version: "?v=20190416";

/*Font 및 Color*/
//$family :NotoSans, 'Lucida Grande', 'Open Sans', 'roboto', 'AppleGothic', 'Arial', 'Meiryo', 'Hiragino Kaku Gothic Pro', 'NanumBarunGothic','Malgun Gothic', dotum, "돋음",'sans-serif';
//$family: NanumGothic,'나눔고딕',"Malgun Gothic","맑은 고딕","돋움",Dotum,"굴림",Gulim,Helvetica,sans-serif;
$family: VarelaRound,DoHyeon,NanumGothic,"돋움",Dotum,Helvetica,sans-serif;
$white: #ffffff;
$black : #000000;
$point : #ff7600;
$bold:600;
$bolder:bold;
$gray: #efefef;

$sqrt_2: 1.41421356237;